body {
    background-image: url(../images/dark-honeycomb.png);
    text-align: center;
    color: white;
    font-family: 'Architects Daughter', cursive;
    text-shadow: 2px 2px 2px black;
    font-size: 150%;
    cursor: default;


}

::selection {
    background: black;
    color:orange;

}

.main-box {
    background-size: 100%;
    margin: 20px;
    height: 100%;
    background-color: orange;
    padding-bottom: 40px;
    border-radius: 5px;


}

h1 {
    padding: 40px;
    font-weight: bold;
    font-size: 200%;
    margin: 20px;
    font-family: 'Rock Salt', cursive;
    line-height: 1.5;

}

#question {
    margin: 20px;
    font-size: 120%;
    font-weight: bold;
    display: none;

}

.answer {
    /* border: 1px solid black; */
    width: 50%;
    display: inline-block;
    border-radius: 5px;

}

.answer:hover {
    background-color: black;
    color: orange;
    text-shadow: 1px 1px 1px white;
    cursor: pointer;
    
}

.question-box {
    display: none;


}

.time {
    display: none;

}

#start {
    margin: 135px;
    background-color: orange;
    color: white;
    text-shadow: 2px 2px 2px black;
    border: 6px solid black;
    padding: 5px 15px;

}

#start:hover {
    background-color: black;
    color: orange;
    text-shadow: 1px 1px 1px white;
    border: 6px solid white;

}